<section class="row">
    {{#each movies}}
    <div class="overlay-link">
        <a href="/{{movie_id}}">
        <img src="/images/{{movie_img}}" alt="avatar" id="dragon">
        </a>

        <h3>{{movie_name}} </h3>
    </div>

    {{/each}}

</section>
