body {
  font-family: 'Titillium Web', sans-serif;
  background: linear-gradient(to bottom, #66ffff 0%, #6666ff 100%);
  font-size: 20px;

}

/* Style the header */
.header {
  background: linear-gradient(to bottom, #33ccff 0%, #66ffff 100%);
  padding: 30px;
  text-align: center;
  font-size: 35px;
  font-family: 'Germania One', cursive;
}

/* Container for flexboxes */
.row {

  display: flex;
  justify-content: center;
  padding: 50px;
}

.row2 {

  display: flex;
  padding: 50px;
}

/* Create three equal columns that sits next to each other */
.column {

  flex: 1;
  padding: 10px;

}

.text1 {

  flex: 1;
  padding: 10px;

}

/* Style the footer */
.footer {

  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .row {
    flex-direction: column;
  }

  .row2 {
    flex-direction: column;
  }
}